################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Quick Sound Endpoint Switcher/Debug
/Quick Sound Endpoint Switcher/Release
/Quick Sound Endpoint Switcher/x64/Debug
/Debug
/.vs
/Release
/Quick Sound Endpoint Switcher/Prefs2.7z
/Quick Sound Endpoint Switcher/Prefs.7z
